<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - EMS</title>

   
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/landing.css" />
</head>
<body>

 
    <nav class="navbar">
        <div class="nav-left">
            <span class="logo">EMS</span>
        </div>

        <div class="nav-right">
            
            <a asp-controller="Home" asp-action="About">About Us</a>
            <a asp-controller="Account" asp-action="Login" class="btn-nav">Login</a>
        </div>
    </nav>

  
    @RenderBody()

</body>
</html>

