* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #F8F9FA;
    color: #111827;
}

.landing {
    min-height: 100vh;
    padding: 40px 80px;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    color: #3b82f6;
}

    .logo span {
        color: #fff;
    }


.hero {
    text-align: center;
    margin-top: 80px;
}

    .hero h1 {
        font-size: 48px;
        font-weight: 700;
        color: #1F2937;
        line-height: 1.3;
    }

    .hero p {
        margin-top: 20px;
        font-size: 16px;
        color: #4B5563;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }


.buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
}

    .btn.primary {
        background-color: #2563eb;
        color: #fff;
    }

    .btn.secondary {
        background-color: #2563eb;
        color: #fff;
    }


.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.card {
    background: #FFFFFF;
    color: #111;
    padding: 30px;
    width: 300px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(37, 99, 235, 0.2);
}

    .card .icon {
        font-size: 32px;
        margin-bottom: 15px;
        color: #2563eb;
    }

    .card h3 {
        margin-bottom: 10px;
    }

    .card p {
        color: #6b7280;
        font-size: 14px;
    }
