
.navbar {
    height: 70px;
    background-color: #020617; /* dark blue */
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    color: #3b82f6;
}


.nav-right a {
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

    
    .nav-right a:hover {
        color: #93c5fd;
    }

/* LOGIN BUTTON */
.btn-nav {
    padding: 8px 16px;
    background-color: #2563eb;
    border-radius: 6px;
    color: white !important;
}
