
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* navbar */
.navbar {
    height: 70px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2563EB; 
}

.nav-right {
    display: flex;
    align-items: center;
}

    .nav-right a {
        color: #1F2937; 
        text-decoration: none;
        margin-left: 25px;
        font-weight: 500;
        transition: color 0.3s;
    }

        .nav-right a:hover {
            color: #2563EB; 
        }

        .nav-right a.active {
            color: #2563EB; 
            font-weight: 600;
        }

/*login button */
.btn-nav {
    padding: 8px 16px;
    background-color: rgba(37, 99, 235, 0.8); 
    border-radius: 6px;
    color: #FFFFFF !important;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 20px;
}

    .btn-nav:hover {
        background-color: rgba(37, 99, 235, 1); 
        transform: translateY(-2px); 
    }


  /* RESPONSIVE */

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 30px;
    }

    .nav-right a {
        margin-left: 15px;
    }

    .btn-nav {
        padding: 6px 12px;
        margin-left: 10px;
    }
}
