body {
    background-color: #0f172a;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.notes-card {
    background: white;
    width: 420px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.notes-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 18px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    color: #334155;
    display: block;
    margin-bottom: 6px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

    .form-input:focus {
        border-color: #2563eb;
    }

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-primary {
    background: #2563eb;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 48%;
}

.btn-secondary {
    background: #64748b;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    width: 48%;
    display: inline-block;
}

input[type="file"]::file-selector-button {
    background: #2563eb;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
