.navbar {
    height: 70px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: fixed; 
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2563EB; 
}

.nav-right a {
    color: #FFFFFF; 
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
}

    .nav-right a:hover {
        color: #93C5FD; 
    }

/* LOGIN BUTTON */
.btn-nav {
    padding: 8px 16px;
    background-color: rgba(37, 99, 235, 0.8); 
    border-radius: 6px;
    color: #FFFFFF !important;
    font-weight: 500;
    transition: background-color 0.3s;
}

    .btn-nav:hover {
        background-color: rgba(37, 99, 235, 1);
    }
